
<% layout('layout') -%>
<!-- layout('layout') -->

<table class="table table-hover" style="background-color:#ffffff">
	<%for(var i = documentCount-1; i>=0;i--){%>
	<tr>
		<td>
			<h2><%=myData[i].title %></h2>
			<% if(login=='login'){ %><p><a href="/EDIT?id=<%=myData[i]._id%>">Edit</a>/<a href="/DELETE?id=<% = myData[i]._id %>">DELETE</a></p><% } %>
			<%- myData[i].content %>
		</td>
	</tr>
	<% } %>
</table>

<!-- endlist
 -->
 
 <div class="alert alert-sucess">Running MongoDB server at http://locahost:3000</div>
