<% layout('layout') -%>

<div class="navbar">
	<div class="container">
		<div class="nav-collapse collapse navbar-responsive">
			<ul class="nav navbar-nav">
				<li><h3>Welcome to Dr.GEOL KIM;s HOME</h3>
			</ul>
		</div>
		
	</div>	

</div>

<ul class="breadcrumb">
	<br/>
	<p><a href="http://www.naver.com">네이버에욤</a></p>
	<p><a href="http://www.naver.com">네이버에욤</a></p>
	<br/>
	<center>
		<p><img src="#" class="img-round" width="100%"/></p>
	</center>
	<br/>
	

</ul>